/* Utils
------------------------------------------------------------*/

/* data fadein */

[data-fadein] {
  opacity: 0;
  transition: 1s;

  &.--visible {
    opacity: 1;
  }
}

/* only device */

.sp-only,
.is-hidden {
  display: none !important;
}

@include maxW(1023px) {
  .pc-only {
    display: none !important;
  }

  .sp-only {
    display: block !important;
  }
}
